* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    width: 80%;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.input-container {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#inputText {
    width: 100%;
    height: 175px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    resize: none;
}

.input-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.copy-btn {
    background-color: #007bff;
}

#clearBtn {
    background-color: #d9534f;
}

#whatsBtn {
    background-color: #25d366;
}

button:hover {
    opacity: 0.8;
}

.output-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.output-item {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

.output-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.output-text {
    width: 100%;
    height: 75px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: none;
}